body{
    box-sizing: inherit;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f5f5f5;
    font-family: Roboto,sans-serif,Tahoma!important;
    font-size: 14px;
    color: #333;
    text-rendering: optimizeLegibility;
}
body a {
    color: #353535;
    text-decoration: none;
    -ms-touch-action: unset;
    touch-action: unset;
}
.new-feature-header {
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    position: relative;
    z-index: 50;
}
.new-feature-header__user-line {
    height: 32px;
    line-height: 32px;
    background-color: #e73948;
    color: #fff;
}
.container {
    width: 1140px;
    max-width: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.new-feature-header__user-line .col-sm-12 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.new-feature-header__user-line .col-sm-12 .heading-news {
    display: block;
}
.new-feature-header__user-line .col-sm-12 .heading-news a {
    color: #fff; 
    display: flex;
    align-items: center;
}
.new-feature-header__user-line .col-sm-12 .heading-news a .material-icons-outlined {
    padding-right: 8px;
}
.new-feature-header__user-line .col-sm-12 .heading-news a .material-icons {
    font-size: 16px;
    padding-left: 5px;
}
.new-feature-search-bar {
    height: 98px;
    background-color: #fff;
    
    display: flex;
    
    flex-direction: row;
    
    align-items: center;
    
    justify-content: space-between;
}
.new-feature-search-bar .search-box { 
    display: flex;
  
    flex-grow: 1;
  
    flex-direction: row;
  
    justify-content: flex-end;
  
    align-items: center;
    color: #666;
}
.new-feature-search-bar .search-box .search-box-label {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
}
.new-feature-search-bar .search-box .results-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #999;
    line-height: 46px;
    position: relative;
    z-index: 20;
    margin-right: 30px;
}
.new-feature-search-bar .search-box .search-input {
    width: 100%;
    height: 48px;
    color: #333;
    border: 0;
    background: no-repeat;
    padding: 0 15px;
}
.new-feature-search-bar .search-box .suggest-box {
    border: 1px solid #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
    display: none;
    
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    min-height: 50px;
    z-index: 20;
    background-color: #fff;
}
.new-feature-search-bar .search-box .suggest-box .suggest-wrapper {
    display: block;
    width: 100%;
    max-height: 285px;
    overflow-y: auto;
}
.new-feature-search-bar .search-box .suggest-box .suggest-word {
    border-top: 1px solid #ededed;
    padding: 0 15px;  
    display: flex;
    flex-direction: row;
    align-items: center;
}
.new-feature-search-bar .search-box .suggest-box .suggest-word a {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.new-feature-search-bar .search-box .suggest-box .suggest-word {
    border-top: 1px solid #ededed;
    padding: 0 15px;
    
    display: flex;
    
    flex-direction: row;
    align-items: center;
}
.new-feature-search-bar .search-box .suggest-box .suggest-word a {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.new-feature-search-bar .search-box>.material-icons-outlined {
    padding-right: 5px;
}
.mr-2 {
    margin-right: 0.5rem!important;
}
.new-feature-search-bar #home-page-choose-location {
    width: 200px;
    border: 1px solid #999;
    text-align: left;
    padding: 0 15px;
    font-size: 14px;
    color: #666;
    appearance: none;
    background-image: url(/assets/icons/14x14_chevron_down.svg);
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

.float-menu-on-pc {
    position: fixed;
    pointer-events: auto;
    left: 0;
    top: 120px;
    display: block;
    z-index: 6;
}
.float-menu-on-pc .home-page-category-list {
    border-radius: 0;
    margin-top: 0;
    width: 44px;
}
.home-page-category-list.first {
    background-color: #e73948;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 0;
}
.float-menu-on-pc .home-page-category-list .category-menu-item:last-child {
    border-bottom: 1px solid #ededed;
}
.float-menu-on-pc .home-page-category-list .category-menu-item {
    height: 40px;
    width: 44px;
    white-space: nowrap;
   
    transition: width 1s;
}
.float-menu-on-pc .home-page-category-list.first .category-menu-item .category-menu-item__url {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 40px;
}
.float-menu-on-pc .home-page-category-list.first .category-menu-item .category-menu-item__url__left {
    min-width: 44px;
}
.float-menu-on-pc .home-page-category-list.first .category-menu-item .category-menu-item__url span {
    display: block;
}
.home-page-category-list .category-menu-item__url__left [class^=material] {
    font-size: 20px;
}
.float-menu-on-pc .home-page-category-list .category-menu-item .category-menu-item__url__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}
//////
#content{
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto,sans-serif,Tahoma!important;
    font-size: 14px;
    color: #333;
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
}
.container{
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto,sans-serif,Tahoma!important;
    font-size: 14px;
    color: #333;
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1140px;
    max-width: 100%;
}
.home-page{
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto,sans-serif,Tahoma!important;
    color: #333;
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
    font-size: 14px;
    position: relative;
    margin-top: 30px;
}
.home-page__block{
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto,sans-serif,Tahoma!important;
    color: #333;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    box-sizing: inherit;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 44px;
}
.home-page__block__left{
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    font-size: 14px;
    box-sizing: inherit;
    flex-basis: 25%;
    margin-right: 15px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}
.category-list-menu{
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    box-sizing: inherit;
}
.home-page-category-list.first{ 
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #e73948;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 0;
}
.home-page-category-list.first .category-menu-item{
    font-size: 14px;
    margin: 0;
    position: relative;
    line-height: 40px;
    min-height: 40px;
    background-color: #e73948!important;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    height: 50px;
    border: none;
}
.home-page-category-list.first .category-menu-item__url{
    font-size: 14px;   
    list-style: none;
    box-sizing: inherit;
    background-color: transparent;
    text-decoration: none;
    display: flex;   
    flex-grow: 1;
    justify-content: space-between;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    transition: all .2s ease-in-out;
}
.home-page-category-list.first .category-menu-item__url__left{
    font-size: 14px;
    list-style: none;
    cursor: pointer;
    line-height: 50px;
    font-weight: 700;
    box-sizing: inherit;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.category-menu-item__url__right{
    font-size: 14px;
    list-style: none;
    cursor: pointer;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.home-page-category-list{
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    font-size: 14px;
    box-sizing: inherit;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border-radius: 4px;
    overflow: hidden;
}
.home-page-category-list .category-menu-item--header{
    text-rendering: optimizeLegibility;
    font-size: 14px;
    list-style: none;
    margin: 0;
    position: relative;
    line-height: 40px;
    min-height: 40px;
    background-color: #fff;
    color: #666;
    border-bottom: 1px solid #ededed;
    font-weight: 700;
    padding-left: 40px;
}
.home-page-category-list .category-menu-item--header .category-menu-item__url{
    text-rendering: optimizeLegibility;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: inherit;
    background-color: transparent;
    text-decoration: none;
    touch-action: unset;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #454545;
}
.home-page-category-list .category-menu-item{
    margin: 0;
    position: relative;
    line-height: 40px;
    min-height: 40px;
    background-color: #fff;
    color: #666;
    border-bottom: 1px solid #ededed;
}
.home-page-category-list .category-menu-item__url{
    font-weight: 400;
    text-decoration: none;
    touch-action: unset;
    color: #454545;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    transition: color .2s ease-in-out;
    cursor: pointer;
}
.home-page-category-list .category-menu-item__url__left{
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}
.home-page-category-list .category-menu-item__url>span{
    flex-grow: 1;
}
.home-page-category-list .category-menu-item__url__right{
    color: #999;
}
/**/
.category-block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}
.category-header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 20px;
}
.category-header .heading {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    text-transform: uppercase;
}
.category-header .heading h2 {
    margin: 0;
    padding: 0;
    border: none;
    color: #666;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 13px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
}
.category-header .heading:after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    max-width: 120px;
    min-width: 40px;
    width: 70%;
    bottom: 0;
    left: 0;
    background-color: #e73948;
}

.deal-item-wrapper{
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    font-size: 14px;
    box-sizing: inherit;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-bottom: 16px;
    z-index: 0;
    position: relative;
}
.deal-item {
    border: none;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.deal-item__header{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 0;
    height: 48px;
}
.deal-item__header__brand {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deal-item__header__brand__logo {
    display: block;
    max-height: 30px;
    max-width: 70%;
}
.deal-item-wrapper .deal-item__header__follow {
    top: 10px;
    right: 16px;
}
.deal-item__header__follow .material-icons {
    color: #999;
    cursor: pointer;
    
}
.deal-item__body {
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.deal-item__body__thumbnail__wrapper {
    width: 100%;
    height: 174px;
    display: block;
}
.deal-item__body__thumbnail {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.deal-item__highlight__tag__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
}
.deal-item__tag {
    position: relative;
    z-index: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 50px;
    background-color: rgba(231,57,72,.8);
}
.deal-item__badge.exclusive {
    font-size: 16px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    left: 10px;
    padding-top: 2px;
}

.deal-item__footer__heading{
    font-size: inherit;
    padding: 10px;
    flex-grow: 1;
    height: 60px;
    border-bottom: 1px solid #ededed;
}
.deal-item__footer__heading a, .deal-item__footer__heading--no-footer a {
    font-weight: 600;
    height: 100%;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
}
.deal-item__footer-badge {
    height: 20px;
    line-height: 20px;
    color: #e73948;
    border: 1px solid #e73948;
    font-size: 10px;
    margin-right: 5px;
    border-radius: 4px;
    padding: 0 10px;
    font-weight: 400;
    background: #fff;
    display: flex;
    
}
.deal-item__footer-badge [class^=jicon_] {
    margin-right: 5px;
    line-height: 20px;
    display:flex;
    vertical-align: middle;
    
}
.deal-item__address-text {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b1b1b1;
    padding: 5px 10px 10px 10px;
}

/* CSS Footer */
.footer{
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto,sans-serif,Tahoma!important;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
    display: block;
    background-color: #dadada;
    color: #666;
}
.container .subscribe{
    width: 1140px;
    max-width: 100%;
}
footer .subscribe .row {
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px 0;
}
.col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
footer h3.about-jamja {
    text-rendering: optimizeLegibility;
    box-sizing: inherit;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
}
footer .subscribe .row p.jamja-desc {
    margin-bottom: 35px;
    font-style: italic;
}
footer h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
}
footer .subscribe .row .download-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
footer .subscribe .row .download-app a.ios {
    margin-right: 35px;
}
footer .subscribe .row .download-app a img {
    height: 43px;
}
.col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
footer h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
}
form {
    display: block;
    margin-top: 0em;
}
footer .subscribe .row #mc-form .input-group {
    margin: 0 auto 7px;
    height: 48px;
    background: #fff;
    align-items: center;
    border-radius: 4px;
}
footer .subscribe .row #mc-form .email-input, footer .subscribe .row #mc-form .name-input {
    color: #999;
    border: none;
    outline: 0;
    z-index: 0;
    font-size: 14px;
    padding: 0 15px;
    height: 100%;
    border-radius: 4px 0 0 4px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
footer .subscribe .row #mc-form button, footer .subscribe .row #mc-form select {
    height: 100%;
    width: 100%;
    color: #999;
    padding: 6px 12px;
}
footer .subscribe .row #mc-form .valid-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .subscribe .row #mc-form .valid-form .msg {
    color: #e73948;
    font-size: 12px;
    padding-left: 10px;
}
footer .subscribe .row #mc-form .valid-form .step {
    font-size: 12px;
    color: #999;
    padding-right: 10px;
}
footer .back-link {
    background-color: #fafafa;
    padding: 35px 0;
}
.container {
    width: 1140px;
    max-width: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
footer h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
}
footer .back-link .block-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer .back-link .block-link ul li {
    padding: 7px 0;
}
footer .back-link .block-link a {
    color: #666;
    text-decoration: none;
}
footer .copy-right {
    background-color: #f5f5f5;
}
footer .copy-right .container .inner .icon-bo-cong-thuong {
    width: 95px;
    margin-right: 30px;
}
footer .copy-right .container .inner .icon-dcma {
    width: 120px;
    
}