* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}

p {
    margin-bottom: 0;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
    color: #0288d1;
    text-decoration: none;
    background-color: #00000000;
}

.container,
.container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.wrapper {
    padding-top: 70px;
}


/* Header */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}

.navbar {
    padding-top: 14.4px;
}

.container .logo-spfood {
    right: 100%;
    cursor: pointer;
    margin-right: 72px;
    padding-left: 0;
}

.logo-spfood img[alt=ShopeeFood] {
    height: 30px;
}

.main-header .local {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    padding: 0;
}

.main-header .local .dropdown-toggle {
    color: #252525;
    border: 0;
    padding: 10px 8px 10px 18px;
    background-color: #00000012;
    position: relative;
    z-index: 1;
}

.main-header .local .dropdown-toggle::after {
    top: 50%;
    right: 8px;
    margin-top: -2px;
    border-top-color: #acacac;
}

.main-header .local .dropdown-menu {
    min-width: 200px;
    left: -2px;
    overflow: hidden;
    padding: 0;
    top: calc(100% + 3px);
}

.main-header .local .dropdown-item {
    border-bottom: 1px solid #ebebeb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main-header .local .drop-item-count {
    float: right;
    color: #9fa9aa;
    font-size: 13px;
}

.header-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}

.header-nav .nav-item.active {
    color: #ee4d2d;
    font-weight: 700;
    border-bottom-color: #ee4d2d;
}

.header-nav .nav-item:hover {
    color: #ee4d2d;
}

.header-nav .nav-item {
    color: #252525;
    cursor: pointer;
    padding: 10px 12px 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
    font-size: 14px;
    text-decoration: none;
}

.container .icon-search {
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.container .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}

.container .btn-login:hover {
    opacity: 0.8;
}

.main-header .language {
    position: fixed;
    right: 0;
}

.language img[alt=Language] {
    width: 20px;
    margin-right: -4px;
    margin-bottom: 4px;
}

#language-dropdown {
    margin-right: 16px;
    cursor: pointer;
}


/* Search and product */

.search-and-product {
    background-image: url('../img/main-banner.jpg');
    height: calc(100vh - 70px);
}

.search-and-product .menu-left {
    color: white;
}

.search-and-product .content-right {
    overflow-y: scroll;
    height: 100%;
}

.search-and-product .content-right::-webkit-scrollbar {
    display: none;
}

.search-local {
    width: 470px;
    z-index: 2;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    margin-top: -30px;
}

.search-local .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.input-group {
    padding: 27px 0 40px;
}

.form-control {
    border: none;
    height: 50px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: unset;
}

.search-local .btn-search {
    width: 70px;
    height: 50px;
    top: 0;
    right: 24px;
    border-radius: 0 6px 6px 0;
    padding-top: 11px;
}

.category-list-filter .cate-item {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    padding: 7px 21px;
    border-radius: 6px;
    border: 1px solid;
    display: inline-block;
    transition: all .3s ease;
}

.category-list-filter .cate-item:hover {
    color: #252525;
    background-color: #fff;
    border-color: #fff;
}

.category-list-filter>a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.font18 {
    font-size: 18px;
}

.search-local .img-appstore,
.search-local .img-ggplay {
    transform: scale(.75);
    transform-origin: left;
    margin-right: -40px;
}

.img-appstore {
    background-image: url(../img/bg-icon.png);
    background-position: -422px -387px;
    width: 219px;
    height: 68px;
}

.img-ggplay {
    background-image: url(../img/bg-icon.png);
    background-position: -367px -466px;
    width: 219px;
    height: 68px;
}

.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


/* preservation */

.preservation-container {
    background-color: #fff;
    padding: 20px 150px 50px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}

.preservation-container .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.preservation-container.img-right {
    padding: 50px 350px 50px 150px;
}

.preservation-container .img-using {
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 2;
    line-height: 0;
    text-align: center;
    width: 350px;
}

.footer-link {
    margin: 50px 0;
}

.footer-link__head {
    color: rgba(0, 0, 0, .54);
    font-weight: 700;
    text-transform: uppercase;
}

.footer-link__body {
    column-count: 4;
}

.footer-link__item {
    padding-top: 6px;
}

.footer-link__title {
    font-weight: 700;
    margin: 0 0 2px;
    padding: 2px 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
}

.footer-link__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-link__list-item {
    font-size: 13px;
    color: rgba(0, 0, 0, .54);
}

.footer-link__list-item::after {
    content: "|";
    color: rgba(0, 0, 0, .54)!important;
    padding: 0 3px;
}

.footer-link__list-item:last-child:after {
    content: "";
}