* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}

.container,
.container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.wrapper {
    padding-top: 70px;
}


/* Header */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}

.navbar {
    padding-top: 14.4px;
}

.container .logo-spfood {
    right: 100%;
    cursor: pointer;
    margin-right: 72px;
    padding-left: 0;
}

.logo-spfood img[alt=ShopeeFood] {
    height: 30px;
}

.container .local .dropdown-toggle {
    color: #252525;
    border: 0;
    padding: 10px 8px 10px 18px;
    background-color: #00000012;
    position: relative;
    z-index: 1;
}

.dropdown-toggle::after {
    top: 50%;
    right: 8px;
    margin-top: -2px;
    border-top-color: #acacac;
}

.header-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}

.header-nav .nav-item.active {
    color: #ee4d2d;
    font-weight: 700;
    border-bottom-color: #ee4d2d;
}

.header-nav .nav-item:hover {
    color: #ee4d2d;
}

.header-nav .nav-item {
    color: #252525;
    cursor: pointer;
    padding: 10px 12px 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
    font-size: 14px;
    text-decoration: none;
}

.container .icon-search {
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.container .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}

.container .btn-login:hover {
    opacity: 0.8;
}

.main-header .language {
    position: fixed;
    right: 0;
}

.language img[alt=Language] {
    width: 20px;
    margin-right: -4px;
    margin-bottom: 4px;
}

#language-dropdown {
    margin-right: 16px;
    cursor: pointer;
}


/* Search and product */


/* preservation */

.preservation-container {
    background-color: #fff;
    padding: 20px 150px 50px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}

.preservation-container .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.preservation-container.img-right {
    padding: 50px 350px 50px 150px;
}

.preservation-container .img-using {
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 2;
    line-height: 0;
    text-align: center;
    width: 350px;
}