/*giamgia */

body {
    
    font-size: 14px;
    background-color: rgb(230, 234, 238) ;
    
}

.text{
    color:#fff;
    margin-left: 204px;
}

.container-topbar {
    height: 32px;
    line-height: 32px;
    background-color: #e73948;
    color: #fff;
    align-items: center;
}
.container-bottom{
    display: flex;  
    align-items: center;
    height: 100px;
    justify-content: space-between;
    background-color: #fff;
}

.logo{
    margin-left: 204px;
}

.search-box{
    display: flex;
    
}

.a{
    display: flex;
    align-items: center;
    margin-left: 225px;
    margin-right: 10px;
}

.b{
    display: flex;
    align-items: center;
    margin-right: 10px;
}



.select{
    display: flex;
    align-items: center;
    margin-right: 206px;
}


/* CSS main */

/*///////////////////////////////////////////////////////////////////////////*/

.c{
    
    margin-top: 300px;
}

.figure{
    position: relative;
}
h5{
    position: absolute;
}
.home_page_3 h2{
    font-size: 18px;
    font-weight: 700;
    color: #666;
    font-family: Roboto;
    border: none;
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    
}
.home_page_4 h2{
    font-size: 18px;
    font-weight: 700;
    color: #666;
    font-family: Roboto;
    border: none;
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    
}
















::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(223, 189, 189);
    
}