/*giamgia */






.text{
    color:#fff;
    margin-left: 204px;
}


.container-topbar {
    height: 32px;
    line-height: 32px;
    background-color: #e73948;
    color: #fff;
}
.container-bottom{
    margin-left: 204px;
}

.search-box{
    display: flex;
}

.a{
    display: flex;
}

body {
    
    font-size: 14px;
    
}
