* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
div{
    display: block;
}

body {
    background: #eee;
    font-family: arial;
    position: relative;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0;
}
.foody-wapper .n-listitems {
    width: 1170px;
    margin: 0 auto;
 }

.container-topbar{
    background: #333;
    color: #fff;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 32px;
}
a {
    color: #333;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
.container-topbar a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
}

.container-topbar .topbar a.current {
    background: #fff;
    color: #333;
}
.container-topbar .topbar a {
    padding: 8px 50px;
    display: block;
    color: #ddd;
    float: left;
}



.header-toolbar{
    width: 100%;
    height: 51px;
    background: #fff;
    font-size: 14px;
    align-items: center;
    display: flex;
    right: 0;
    bottom: 0;

}
.left-header-toolbar{
    font-size: 14px;
    align-items: center;
    display: flex;
    margin-left: 75px;
    margin: 75px;
}
.left-header-toolbar a {
    margin: 10px;
}

.left-header-toolbar select {
    margin: 3px;
    text-align: center;
}
.left-header-toolbar .search-box{
    margin: 3px;
    padding: 5px;
    border: none;
}


header.header .header-toolbar {
    background: #fff;
    border-bottom: #ddd 1px solid;
    position: absolute;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
}
.right-header-toolbar{
    margin-left: 200px;
}

.home-banner{
    font-family: arial;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0;
    position: relative;
    background-color: #000;
    padding: 10px 0;
    height: 440px;
    overflow: hidden;
    box-sizing: border-box;
}

.banner-caption {
    padding-top: 20px;
    font-size: 14px;
    margin-left: 250px;
}


/* Phần home page  */
a, blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.home-page-2017 .box-group.delivery, .home-page-2017 .box-group.tablenow {
    border: 1px solid #d6d6d6;
}
.home-page-2017 .box-group, .home-page-2017 .box-group .list-items .items, .home-page-2017 .box-group .list-items .items .address, .home-page-2017 .box-group .list-items .items .info, .home-page-2017 .box-group .list-items .items .name, .home-page-2017 .box-group .nav-left .header, .home-page-2017 .box-group .nav-left .list-nav, .home-page-2017 .box-group .nav-left .list-nav>li, .home-page-2017 .box-group .nav-left .list-nav>li>a {
    display: block;
    float: left;
    width: 100%;
}

button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.home-page-2017 * {
    box-sizing: border-box;
}

.home-page-2017 .box-group {
    font-size: 14px;
    margin: 20px 0 0;
}
.home-page-2017 .box-group .n-header .avatar-box {
    float: left;
}
.avatar {
    position: relative;
}
.home-page-2017 .box-group .n-header {
    height: 60px;
    background: #fff;
    padding-left: 15px;
    line-height: 60px;
}
.home-page-2017 .box-group {
    font-size: 14px;
    margin: 20px 0 0;
}
.home-page-2017 .box-group .n-header {
    height: 60px;
    background: #fff;
    padding-left: 15px;
    line-height: 60px;
}
.home-page-2017 .box-group .n-header .avatar-box .avatar {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    background: 0 0;
    margin: 10px 15px 0 0;
    border-radius: 5px;
}
.home-page-2017 .box-group.delivery .n-header .avatar-box .avatar:before {
    background-image: url(/Foody.vn/img/avatar-foody.png);
}
.home-page-2017 .box-group .n-header .avatar-box .avatar:before {
    display: block;
    content: ' ';
    width: 40px;
    height: 40px;
    background: no-repeat center center;
    background-size: contain;
    float: left;
    image-rendering: -webkit-optimize-contrast;
}

.home-page-2017 .box-group .n-header .avatar-box .title {
    font-size: 20px;
    font-weight: 700;
    float: left;
}
.home-page-2017 .box-group .n-header .nav-box {
    float: right;
    padding-left: 10px;
    width: 980px;
}
 ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.home-page-2017 .box-group .n-header .nav-box ul {
    margin: 0;
    padding: 0;
    max-width: 770px;
    overflow: hidden;
    height: 60px;
    float: left;
}
.home-page-2017 .box-group .n-header .nav-box ul li {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
li {
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: disc;
}
.home-page-2017 .box-group .n-header .nav-box ul li a {
    display: block;
    padding: 0 8px;
}
.home-page-2017 .box-group .n-listitems {
    position: relative;
    width: 1150px;
    padding: 15px 0 0 20px;
    height: 525px;
}
.home-page-2017 .box-group .n-listitems .items {
    width: 1150px;
}
.home-page-2017 .box-group .n-listitems .items, .home-page-2017 .box-group .n-listitems .items .address, .home-page-2017 .box-group .n-listitems .items .info, .home-page-2017 .box-group .n-listitems .items .name {
    display: block;
    float: left;
    width: 100%;
}
.home-page-2017 .box-group .n-listitems .items>li {
    display: block;
    position: relative;
    float: left;
    width: 228px;
    padding: 0 10px 10px 0;
}
.home-page-2017 .box-group .n-listitems .items .avatar {
    display: block;
    float: left;
    width: 100%;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}
.home-page-2017 .box-group .n-listitems .items .avatar>img {
    display: block;
    float: left;
    width: 227px;
    height: 142px;
    border-radius: 0;
    margin-left: -5px;
}
.home-page-2017 .box-group .n-listitems .items .info {
    height: 60px;
}
.home-page-2017 .box-group .n-listitems .items .info {
    padding: 10px;
    position: relative;
    height: 38px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
} 
 .home-page-2017 .box-group .n-listitems .items .address, .home-page-2017 .box-group .n-listitems .items .info, .home-page-2017 .box-group .n-listitems .items .name {
    background: #fff;
}
.home-page-2017 .box-group .n-listitems .items, .home-page-2017 .box-group .n-listitems .items .address, .home-page-2017 .box-group .n-listitems .items .info, .home-page-2017 .box-group .n-listitems .items .name {
    display: block;
    float: left;
    width: 100%;
}
.home-page-2017 .limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-page-2017 .box-group .n-listitems .li-page.fa-angle-right {
    right: -18px;
    padding: 8px 0 0 5px;
}
.home-page-2017 .box-group .n-listitems .li-page {
    position: absolute;
    top: 0;
    color: #b3b3b3;
    font-size: 32px;
    width: 20px;
    height: 510px;
    text-align: center;
    cursor: pointer;
}
.home-page-2017 .box-group .n-listitems .li-page.fa-angle-right:before {
    position: absolute;
    top: 243px;
    right: 2px;
}
.n-listitems .none-quality-text {
    position: relative;
    top: 3px;
}
.home-page-2017 .box-group .n-listitems .items .name {
    font-weight: 700;
    padding: 10px 10px 0;
    height: 29px;
}
.home-page-2017 .box-group .n-listitems .items>li {
    display: block;
    position: relative;
    float: left;
    width: 228px;
    padding: 0 10px 10px 0;
}
.home-page-2017 .box-group .n-listitems .items .address, .home-page-2017 .box-group .n-listitems .items .info, .home-page-2017 .box-group .n-listitems .items .name {
    background: #fff;
}
.home-page-2017 .box-group .n-listitems .items, .home-page-2017 .box-group .n-listitems .items .address, .home-page-2017 .box-group .n-listitems .items .info, .home-page-2017 .box-group .n-listitems .items .name {
    display: block;
    float: left;
    width: 100%;
}
.home-page-2017 .limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-page-2017 .box-group .n-listitems .items .address {
    color: #777;
    font-size: 12px;
    padding: 5px 10px 10px;
} 
 .home-page-2017 .box-group .n-listitems .items .avatar>img {
    display: block;
    float: left;
    width: 227px;
    height: 142px;
    border-radius: 0;
    margin-left: -5px;
}
.home-page-2017 .box-group .n-listitems .items {
    width: 100%;
}
.home-page-2017 .box-group .n-listitems .li-page.fa-angle-right {
    right: -18px;
    padding: 8px 0 0 5px;
}
