* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: arial;
    position: relative;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0;
}

.container-topbar {
    background: #333;
    color: #fff;
    overflow: hidden;
    margin: 0 auto;
}

.container-topbar .topbar {
    width: 1170px;
    margin: 0 auto;
}

.container-topbar .topbar a.current {
    background: #fff;
    color: #333;
}

.container-topbar .topbar a {
    padding: 8px 15px;
    display: block;
    color: #ddd;
    float: left;
}

a {
    color: #333;
    text-decoration: none;
    outline: 0;
}

.container-topbar .topbar a:hover {
    color: #fff;
}


